[Unit]
Description=a tool for managing secrets
Documentation=https://vaultproject.io/docs/
After=network.target
ConditionFileNotEmpty={{ vault_server_config_path | quote }}

[Service]
User={{ vault_server_user | quote }}
Group={{ vault_server_group | quote }}
ExecStart={{ vault_server_binary_path | quote }} server -config={{ vault_server_config_path | quote }}
ExecReload=/usr/local/bin/kill --signal HUP $MAINPID
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK
AmbientCapabilities=CAP_IPC_LOCK
SecureBits=keep-caps
NoNewPrivileges=yes
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
